.advantages__main-title {
    padding-top: 120px;
    margin-bottom: 60px;

    font-size: 40px;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}
