.advantages__titile {
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.advantages__titile:after {
    content: " ";

    width: 24px;
    height: 2px;

    background-color: #F47821;

    position: absolute;
    top: 150px;
    left: 0;
}
