.header__btn {
    width: 236px;
    height: 54px;

    margin: 48px auto 142px;

    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222222;

    border-radius: 111px;
}

.header__btn:before {
    content: " ";
    background-image: url('../../../image/Rectangle.svg');
    width: 54px;
    height: 54px;

    position: absolute;
}
