@import url('./__title/form__title.css');
@import url('./__validate-btn/form__validate-btn.css');
@import url('./__textarea/form__textarea.css');
@import url('./__input/form__input.css');
@import url('./__list/form__list.css');
@import url('./__label/form__label.css');
@import url('./__icon/form__icon.css');
@import url('./__icon-wrap/form__icon-wrap.css');

.form {
    background-color: #161616;
    color: #fff;

    position: relative;
}
