@import url("../block/header/header.css");
@import url("../block/content/content.css");
@import url("../block/about/about.css");
@import url("../block/advantages/advantages.css");

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Bold.eot');
    src: local('DIN Pro Bold'), local('DINPro-Bold'),
    url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Bold.woff') format('woff'),
    url('../fonts/DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Light.eot');
    src: local('DIN Pro Light'), local('DINPro-Light'),
    url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Light.woff') format('woff'),
    url('../fonts/DINPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro.eot');
    src: local('DIN Pro'), local('DINPro'),
    url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro.woff') format('woff'),
    url('../fonts/DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DIN Pro';
}
